# Object files
*.o

# Executable files
*.exe
*.out

# Dataset files
dataset*.txt

# Profiling result files
profiling*.txt

# Visual Studio Code configuration files
.vscode/

# Virtual environment files
.virtual_environment/
